name: Deploy

on:
  workflow_run:
    workflows:
      - Laravel Pint
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Forge
        run: echo "Deploying to Forge..."
